{%include 'layouts/navigation.html'%}
<br><br><br>
<div class="container">
    <div class="card">
        <h5 class="card-header text-white" style="background-color: rgb(29, 29, 71);">Histórico</h5>
        <div class="card-body">
            <br>
            <table class="table">
                <thead class="table-dark text-white" >
                    <tr>
                        <th scope="col">Setor</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Matrícula</th>
                        <th scope="col">Usuário</th>
                      </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                </tbody>
              </table>
        </div>
      </div>
</div>