{%include 'layouts/navigation.html'%}
<br><br><br>
<div class="container">
    <div class="card">
        <h5 class="card-header text-white" style="background-color: rgb(29, 29, 71);">Relatório</h5>
        <div class="card-body">
            <br>
            <form>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Setores</label>
                    <div class="col-sm-5">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Selecione um setor</option>
                            {% for setor in setores %}
                            <option value="{{ setor.id }}">{{ setor.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Data Inicial</label>
                    <div class="col-sm-5">
                        <input id="startDate" class="form-control" type="date" />
                    </div>   
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Data Final</label>
                    <div class="col-sm-5">
                        <input id="startDate" class="form-control" type="date" />
                    </div>   
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Documento</label>
                    <div class="col-sm-5">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Selecione um tipo de documento</option>
                            <option value="1">PDF</option>
                            <option value="2">CSV</option>
                            <option value="3">XLSX</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Relatório de</label>
                    <div class="col-sm-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="relatorio" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Resmas</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="relatorio" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Impressões</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Gerar Relatório</button>
            </form>
        </div>
    </div>
</div>