{%include 'layouts/navigation.html'%}
<br><br><br>
<div class="container">
  <div class="card">
    <h5 class="card-header text-white" style="background-color: rgb(29, 29, 71);">Solicitação de resmas
      <a class="btn btn-primary" href="{{url_for('impressoes')}}" role="button">Impressões</a>
    </h5>

    <div class="card-body">
      <br>
      <form action="{{url_for('criar_solicitacao')}}" method="post">
        <div class="row mb-3">
          <label for="setor" class="col-sm-2 col-form-label">Setores</label>
          <div class="col-sm-5">
            <select class="form-select" id="setor" name="id_setor" aria-label="Default select example">
              <option selected disabled>Selecione um setor</option>
              {% for setor in setores %}
              <option value="{{ setor.id }}">{{ setor.nome }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="nome" class="col-sm-2 col-form-label">Nome</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="nome" name="nome">
          </div>
        </div>
        <div class="row mb-3">
          <label for="matricula" class="col-sm-2 col-form-label">Matrícula</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="matricula" name="matricula">
          </div>
        </div>
        <div class="row mb-3">
          <label for="quantidade" class="col-sm-2 col-form-label">Quantidade de resmas</label>
          <div class="col-sm-5">
            <select class="form-select" id="quantidade" name="quantidade_resmas" aria-label="Default select example">
              <option selected disabled>Selecione a quantidade</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Solicitar</button>
      </form>
    </div>
  </div>
</div>